# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/vendor

# misc
/Task/Database.class.php
config.php
dados_ranking.json

#configuration
/src/Config.php
.env
